.logo {
    width: 120px;
    height: auto;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(194, 228, 255);
    padding: 0em 3em;
    height: 4em;
}